.hero-section {
    width: 100%;
    height: 75vh;
    /* 路径必须带 images/ 且文件名后缀 .jpg 必须是小写 */
    background-image: url('images/product36.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
